---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>Hello,this is my first astro application!</h1>
	<h3> Steps used:</h3>
	<h4> 1)npm create astro@latest -- --template minimal
		 2)install dependencies
		 3)npm run dev
		 4)run the local host
		 5)Edit the home page 
		 6)Set up a github repository
		 7)Deploy using neltify
	</h4>
  </body>
</html>